@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.MainStr {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 15px;
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
    flex-wrap: wrap;
}

.MainStr button {
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: white;
    color: #333;
}


.searchMus {
    border-color: #f5576c;
    color: #f5576c;
    transition: transform 500ms ease;
}

.searchMus:hover {
    background-color: #f5576c;
    color: white;
    transform: scale(1.1);
}

.MyPlaylist {
    border-color: #4facfe;
    color: #4facfe;
    transition: transform 500ms ease;

}

.MyPlaylist:hover {
    background-color: #4facfe;
    color: white;
    transform: scale(1.1);
}

.friendPlaylist {
    border-color: #43e97b;
    color: #43e97b;
    transition: transform 500ms ease;
}

.friendPlaylist:hover {
    background-color: #43e97b;
    color: white;
    transform: scale(1.1);
}

.exit {
    border-color: #fa709a;
    color: #fa709a;
    transition: transform 500ms ease;
}

.exit:hover {
    background-color: #fa709a;
    color: white;
    transform: scale(1.1);
}
